<web-app>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>JaxRS</servlet-name>
        <display-name>Reports Servlet</display-name>
        <servlet-class>org.apache.cxf.transport.servlet.CXFServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>JaxRS</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
</web-app>